@import "tailwindcss";

html, body, #root {
height: 100%;
}

body {
@apply bg-gray-100 text-gray-800;
font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}


/* small helpers to mimic the Figma spacing */
.card-shadow { box-shadow: 0 8px 24px rgba(17,24,39,0.06); }
.rounded-2xl { border-radius: 14px; }


.modal-border { border: 1px solid rgba(0,0,0,0.06); }
